.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

out

tmp

# Mac
.DS_Store

# Docker
.docker/

# Firebase
firebase-key.json
firebase-debug.log

/config